.paper
  height: 500px
  width: 350px

.container
    display: flex
    flexWrap: wrap

.currentWeather
  color: #dc816f
  font-size 6.2em
  font-weight: 500;

.currentWeatherByHour
  color: #dc816f
  font-size 1em
  font-weight: 300
  padding-top: 10px


.currentDate
  font-size: 25px
  font-weight: 300
  margin: 0

.currentWeatherDesc
  font-size: 23px
  font-weight: 300
  margin: 0

.centerBox{
  text-align: center
}
.forecastIcons
  font-size: 2em

.forecastText
  font-size: 13px

.city
  font-weight: 500
  font-size: 2em
  



