@require('../../containers/vars.styl')
.paper
  height: 500px
  width: 350px

.container
  display: flex
  flexWrap: wrap

.border
  border-bottom: 1px dotted #313d4f
  cursor: pointer	

.inputText 
  text-align: center
  position: relative
  font-size: 50px

.formFullWidth
  width: 80%

#city
  text-align: center
  position: relative
  font-size: 50px
  font-family: 'Roboto', sans-serif;
  font-weight: 500
  color: $font-color
