@require('../vars.styl')


html
  background #EF8279
  height 100%

body
  font-size 16px
  font-weight 300
  font-family: 'Roboto', sans-serif;
  color $font-color
  line-height 1.333333
  height 100%
  margin 0
